.navbar {
  position: fixed;        /* Reste collée en haut même en scrollant */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b95e2;
  display: flex;          
  
  
}
.navbar a {
  color: white;
  text-decoration: none;  /* Supprime le soulignement */
  font-size: 20px;
  margin-right: 2rem; 
}

.navbar a:hover {
  color: #f0a500;         /* Couleur au survol */
}