<nav class="sidebar col-md-3 col-lg-2 d-flex flex-column p-3 text-white">
  <div class="sidebar-brand mb-4">
    <i class="bi bi-calendar-event me-2"></i> Menu
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="home" class="nav-link text-white" routerLinkActive="active">
        <i class="bi bi-house-door me-2"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="evenements" class="nav-link text-white" routerLinkActive="active">
        <i class="bi bi-calendar4-week me-2"></i> Événements
      </a>
    </li>
    <li>
      <a routerLink="statistiques" class="nav-link text-white" routerLinkActive="active">
        <i class="bi bi-bar-chart me-2"></i> Statistiques
      </a>
    </li>
  </ul>
</nav>